<div class="container">
  <h1>Persuasion Junior Angular Developer Exam</h1>
  <div class="links">
    <a
      class="link"
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
    >
      Home
    </a>
    <a
      class="link"
      routerLink="/counter"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
    >
      Counter
    </a>
    <a
      class="link"
      routerLink="/user-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
    >
      User List
    </a>
  </div>
</div>



